<% include partials/header  %>


<div class = "container">
  <header class ="jumbotron">
    
    <div class ="container">
      <h1>Welcome the campGrounds</h1>
      <p> Choose from a handpiced campground locations</p>
      <p>
        <a class="btn btn-primary btn-large" href = "/campgrounds/new">Add new</a>
      </p>
    </div>
  </header>
  <div class ="row">
    <% campgrounds.forEach(function(campground){ %>
      <div class = "col-md col-sm">
       
        <div class = "thumbnail">    
          <img src= "<%= campground.image %>">
        </div>
        <div class = "img-caption">
          <h4><%= campground.name %><h4>
        </div>         
      </div>
    <% }); %>
  </div>
</div>


<% include partials/footer %>
